/* Your code here */

.pf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}

.wgs {
  position: relative;
  display: inline-block;
  height: 231px;
  width: 320px;
  overflow: hidden;
}

.wgs__mole-head {
  position: absolute;
  left: 53px;
  width: 190px;
}

.wgs__dirt-pile {
  position: absolute;
  top: 130px;
  width: 318px;
}

.wgs__mole-head--hidden {
  margin-top: 400px;
  transition: all 0.25s;
}

.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645ded;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}
